<%- include('partials/header') %>


<body>
    <!-- Company Mission Statement Section -->
    <section id="Mission">
        <%- include('partials/mission') %>
    </section>

    <!-- List of Services Section -->
    <section id="Services">
        <%- include('partials/services') %>
    </section>

    <!-- Price Session -->
    <section id="Prices">
        <%- include('partials/prices') %>
    </section>

    <!-- Testimonial Section -->
    <section id="Testimonials">
        <%- include('partials/testimonials') %>
    </section>

    <!-- Contact Us Section -->
    <section id="Contact-Us">
        <h2>Contact Us</h2>
        <p>Insert your contact information here.</p>
    </section>




  
<%- include('partials/footer') %>

